{% extends 'base.html' %}

{% block sidebar %}
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
<div class="sidebar-sticky">
    <ul class="nav flex-column">
        <li class="nav-item">
        <a class="nav-link active" href="{% url 'systems:index' %}">
            <span data-feather="home"></span>
            Systems<span class="sr-only">(current)</span>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'hardware:index' %}">
            <span data-feather="file"></span>
            Hardware/OS 
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'applications:index' %}">
            <span data-feather="file"></span>
            Applications
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'infoassets:index' %}">
            <span data-feather="file"></span>
            Information Assets 
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'roles:index' %}">
            <span data-feather="file"></span>
            Roles
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" href="{% url 'activities:index' %}">
            <span data-feather="file"></span>
            Activities
        </a>
        </li>
    </ul>
</div>
</nav>
{% endblock %}
{% block content %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">{{ system.name }}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>


        <p>Description: {{ system.description }}<br />
          Third Party System?: {{ system.is_third_party }}
        </p>
        <h2>Vulnerability Stats</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Location</th>
                  <th># Vulns</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>Hardware</th>
                  <td>{{ system.hardware_vuln_count }}</td>
                </tr>
                <tr>
                  <th>Application</th>
                  <td>{{ system.apps_vuln_count }}</td>
                </tr>
                <tr>
                  <th>OS</th>
                  <td>{{ system.os_vuln_count }}</td>
                </tr>
              </tbody>
            </table>
          </div>


        <h2>System Hardware</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>OS</th>
                  <th>#</th>
                </tr>
              </thead>
              <tbody>
              {% if system.hardware.exists %}
              {% for hardware in system.hardware.all %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td><a href="{% url 'hardware:detail' hardware.id %}">{{ hardware.label }}</a></td>
                  <td>{{ hardware.description }}</td>
                  <td>{{ hardware.operating_system }}</td>
                  <td>{{ hardware.operating_system.vulnerability.count|add:hardware.vulnerability.count }}</td>
                  <td></td>
                </tr>
                <tr>
                  <th>-</th>
                  <th>Hardware Apps</th>
                  <th>App Description</th>
                  <th></th>
                  <th></th>
                </tr>
                {% if hardware.application_set.exists %}
                {% for application in hardware.application_set.all %}
                <tr>
                  <th>-</th>
                  <td><a href="{% url 'applications:detail' application.id %}">{{ application.label }}</a></td>
                  <td>{{ application.description }}</td>
                  <th></th>
                  <td>{{ application.vulnerability.count }}</td>
                </tr>
                {% endfor %}
                {% endif %}
              {% endfor %}
              {% endif %}
              </tbody>
            </table>
          </div>


        </main>
      </div>
    </div>
{% endblock %}